h3{
    font-family: cursive;
    text-align: center;
}
span{
    display: flex;
    justify-content: center;
    padding-top: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.img{
    display: flex;
    justify-content: center;
    padding-left: 8em;
}
.btn{
    margin-left: 2em;
}

.hover02 figure img {
	width: 400px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover img {
	width: 450px;
}
.card {
    flex: 0 0 calc(48.33% - 40px);
    max-width: calc(48.33% - 40px);
    width: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid transparent;
  }