.table{
   
    border-bottom: 1px solid black;
    padding: 10px;
}
.table tr td{
    justify-content: center;
    padding-left: 4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section h2{
    padding-bottom: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}